<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.livanec.don.tic_tac" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".TicTac" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Game" android:label="@string/game_title" />
		<activity android:name=".ScoreBoard" android:label="@string/score" />
		<activity android:name=".ColorChooser" android:label="ColorChooser" />
				<activity android:name=".Help" android:label="Help" />
		
	</application>
	<uses-sdk android:minSdkVersion="6" />

</manifest> 